.CardItemCount {
    width: 300px;
    padding: 5px 0px;
    color: #8cacd9;
    border: 1px solid #8cacd9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonsItemCount {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NumberItemCount {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonItemCount {
    padding: 5px 10px;
    border-radius: 10px;
    color: hsl(215, 50%, 70%);
    background-color: hsl(216, 50%, 16%);
}